[submodule "subprojects/miniz"]
	path = subprojects/miniz
	url = https://github.com/richgel999/miniz
[submodule "src/linenoise"]
	path = src/linenoise
	url = https://github.com/antirez/linenoise
[submodule "subprojects/lolibc"]
	path = subprojects/lolibc
	url = http://github.com/dimkr/lolibc
[submodule "subprojects/libucontext"]
	path = subprojects/libucontext
	url = https://github.com/kaniini/libucontext
