[submodule "src/miniz"]
	path = src/miniz
	url = https://github.com/richgel999/miniz
[submodule "src/linenoise"]
	path = src/linenoise
	url = https://github.com/antirez/linenoise
[submodule "subprojects/lolibc"]
	path = subprojects/lolibc
	url = http://github.com/dimkr/lolibc
